<h1>Listing sales</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Tax</th>
      <th>Customer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <%= paginate @sales, :window => 2 %>
  <% @sales.each do |sale| %>
      <tr>
        <!--number_to_currency replaced-->
        <td>$<%= number_with_precision(sale.amount, precision: 2) %></td>
        <td>$<%= number_with_precision(sale.tax, precision: 2) %></td>
        <!--number_to_currency replaced-->
        <td><%= sale.customer.name.upcase %></td>
        <td><%= link_to 'Show', sale %></td>
        <!--Modify Link-->
        <td><a href="<%= edit_sale_path(sale) %>" class="button">Edit</a></td>
        <!--Modify Link-->
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!--Modify Link-->
<a href="<%= new_sale_path %>" class="button">New Sale</a>
